<div *ngIf="talentInfo | async as info" class="info mx-2 color">
  <div>
    <p>{{info.nombre}}</p>
    <p>{{info.cargo}}</p>
    <p>{{info.documento}}</p>
  </div>
  <div class="d-flex flex-column ">
    <p>Lider: {{info.lider}}</p>
    <p>Ultimo seguimiento</p>
    <p>{{(formData | async)?.segufecha | date : 'medium'}}</p>
  </div>
</div>
<div *ngIf="formData  | async; else loading">
  <h1 class="color text-center mt-3 mb-4">Seguimiento Banco</h1>
  <div class="container">
    <form [formGroup]="form" class="mb-5">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column" formGroupName="reconocimientos">
          <h2 class="color mt-0 mb-4">Reconocimientos</h2>
          <div class="row">
            <div class="col-10 d-flex flex-column">
              <mat-form-field appearance="outline">
                <mat-label>Habilidades blandas</mat-label>
                <input formControlName="rechabbladn" autocomplete="off" matInput>
              </mat-form-field>
            </div>
            <div class="col-2 mt-3">
              <mat-icon (click)="enableInput(form.get('reconocimientos'),'rechabbladn')">
                {{form.get('reconocimientos')?.get('rechabbladn')?.status == 'DISABLED' ? 'edit' : 'save'}}
              </mat-icon>
              <mat-icon (click)="cancelInfo(form.get('reconocimientos'),'rechabbladn')"
                        *ngIf="form.get('reconocimientos')?.get('rechabbladn')?.value !=
                         form.get('reconocimientos')?.get('envio')?.get('rechabbladn')?.value">
                cancel
              </mat-icon>
            </div>
          </div>
          <div class="row">
            <div class="col-10 d-flex flex-column">
              <mat-form-field appearance="outline">
                <mat-label>Habilidades técnicas</mat-label>
                <input formControlName="rechabtecni" autocomplete="off" matInput>
              </mat-form-field>
            </div>
            <div class="col-2 mt-3">
              <mat-icon (click)="enableInput(form.get('reconocimientos'),'rechabtecni')">
                {{form.get('reconocimientos')?.get('rechabtecni')?.status == 'DISABLED' ? 'edit' : 'save'}}
              </mat-icon>
              <mat-icon (click)="cancelInfo(form.get('reconocimientos'),'rechabtecni')"
                        *ngIf="form.get('reconocimientos')?.get('rechabtecni')?.value  !=
                         form.get('reconocimientos')?.get('envio')?.get('rechabtecni')?.value">
                cancel
              </mat-icon>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ">
          <h2 class="color mt-0 mb-4">Competencias SETI</h2>
          <div class=" w-75 center ">
            <canvas baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [type]="'bar'">
            </canvas>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 d-flex flex-column" formGroupName="opcionMejora">
          <h2 class="color mt-0 mb-4">Oportunidades de mejora</h2>
          <div class="row">
            <div class="col-10 d-flex flex-column">
              <mat-form-field appearance="outline">
                <mat-label class="mt-4">Habilidades blandas</mat-label>
                <input formControlName="opmhabbland" autocomplete="off" matInput>
              </mat-form-field>
            </div>
            <div class="col-2 mt-3">
              <mat-icon (click)="enableInput(form.get('opcionMejora'),'opmhabbland')">
                {{form.get('opcionMejora')?.get('opmhabbland')?.status == 'DISABLED' ? 'edit' : 'save'}}
              </mat-icon>
              <mat-icon (click)="cancelInfo(form.get('opcionMejora'),'opmhabbland')"
                        *ngIf="form.get('opcionMejora')?.get('opmhabbland')?.value !=
                        form.get('opcionMejora')?.get('envio')?.get('opmhabbland')?.value">
                cancel
              </mat-icon>
            </div>
          </div>
          <div class="row">
            <div class="col-10 d-flex flex-column">
              <mat-form-field appearance="outline">
                <mat-label>Habilidades técnicas</mat-label>
                <input formControlName="opmhabtecni" autocomplete="off" matInput>
              </mat-form-field>
            </div>
            <div class="col-2 mt-3">
              <mat-icon (click)="enableInput(form.get('opcionMejora'),'opmhabtecni')">
                {{form.get('opcionMejora')?.get('opmhabtecni')?.status == 'DISABLED' ? 'edit' : 'save'}}
              </mat-icon>
              <mat-icon (click)="cancelInfo(form.get('opcionMejora'),'opmhabtecni')"
                        *ngIf="form.get('opcionMejora')?.get('opmhabtecni')?.value !=
                         form.get('opcionMejora')?.get('envio')?.get('opmhabtecni')?.value">
                cancel
              </mat-icon>
            </div>
          </div>
        </div>
        <div class="col-lg-6 justify-content-center d-flex flex-column">
          <button routerLink="/under-construction" class="mb-4 btn Btn" mat-raised-button>Acciones de mejora</button>
          <button routerLink="/under-construction"
                  class="mb-4 btn d-inline-block button" mat-raised-button>Seguimientos
          </button>
        </div>
      </div>
      <div  *ngIf="success" class="alert alert-success mt-4 text-center" role="alert">
        Los cambios se han actualizado correctamente
      </div>
      <div class="d-flex justify-content-center">
        <button (click)="back()" class="mx-4" mat-raised-button>Regresar</button>
        <button (click)="updateEvaluation()" type="submit" color="warn" mat-raised-button
                [disabled]="!form.get('actualizado')?.value || contadorSave != 0">
          Guardar
        </button>
      </div>
    </form>
  </div>
</div>
<ng-template #loading>
  <mat-spinner class="centered" color="warn"></mat-spinner>
</ng-template>
