nav{
  background: #C2382F; 
  max-height: 90px;
}

ul li a{
  color: aliceblue;
}

ul li {
  margin: 0;
}

.lis1{
  list-style: none;
  max-height: 50px;
  margin-top: 2%;
}

.lis1 .item1{
  color: aliceblue;
  font-family: 'Handel Gothic D', sans-serif;
  margin: 0;

}
/*.lis1 .item1:hover{
    background: aliceblue;
    color: black;
    border-radius: 10px;
    margin: 0;
}*/

h1{
  color:aliceblue;
  font-family: 'Handel Gothic D', sans-serif;
}

.cerrar{
  background: rgb(156, 156, 156);
  
  text-align: center;
  border-radius: 5px;
  
}

ul ul li a {
  color: black;
}

a{
  text-decoration: none;
}


// estilos del nav
