.right {
    text-align: right;
    margin-right: 1rem;
}

.btnG {
    background-color: #C2382F;
    color: white;
}

.btn {
    background-color: white;
    color: black;   
}

ngb-rating {
    color:#C2382F;
    font-size: 33px;
    padding-left: 0rem
}

.d-inline-flex {
    gap: 10px;
}

.calificacion {
    text-align: left;
    margin: 0;
}
.star{
    text-align: left;
}

@media (min-width: 1000px) {
    .estrella {
        display: flex;
    }

    .Btn {
        margin-top: 4.5rem;
    }

    .star{
        text-align: center;
    }
    .liderTalento{
        display: flex;
        justify-content: space-between;
    }
    .talento{
        text-align: left;
        margin-left: 1rem;
    }
}