<div *ngIf="talentInfo | async as info" class="liderTalento">
  <div class="right talento"><p class="color mb-0">{{info.nombre}}</p>
    <p class="color mb-0">{{info.documento}}</p>
    <p class="color m-0">{{info.cargo}}</p></div>
  <div class="right">
    <p class="color mb-0">Líder: {{info.lider}}</p>
    <p class="color m-0">{{fecha | date : 'medium'}}</p>
  </div>
</div>
<div class="d-flex align-items-center flex-column">
  <h1 class="color">Seguimiento Banco</h1>
  <div class="w-75 mb-5">
    <form [formGroup]="seguimientoBancoTalentoForm" (ngSubmit)="seguimientoBancoTalento()">
      <div class="row test">
        <div class="col-lg-6 d-flex justify-content-center flex-column margin-bottom">
          <h2 class=" color mt-0 mb-4">Reconocimientos</h2>
          <mat-form-field appearance="outline">
            <mat-label class="mt-4">Habilidades blandas</mat-label>
            <input autocomplete="off" [formControl]="reco_habilidadBlanda" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Habilidades técnicas</mat-label>
            <input autocomplete="off" [formControl]="reco_habilidadTecnica" matInput>
          </mat-form-field>
        </div>
        <div formArrayName="competencias" class="col-lg-6 d-flex flex-column margin-bottom">
          <h2 class=" color mt-5">Competencias SETI</h2>
          <div *ngFor="let competencia of competenciasForm.controls; let i = index"
               class="estrella align-items-center justify-content-between">
            <ng-container [formGroupName]="i">
              <p class="rating">{{competencia.value.nombre | titlecase}}</p>
              <div class="star">
                <ngb-rating formControlName="valor" [resettable]="true" [max]="5"></ngb-rating>
              </div>
            </ng-container>
          </div>
          <p class="text-danger" *ngIf="seguimientoBancoTalentoForm.invalid && seguimientoBancoTalentoForm.dirty">
            Debes calificar todas las competencias seti
          </p>
        </div>
      </div>
      <div class="row">
        <div class=" col-lg-6 d-flex justify-content-center flex-column margin-bottom">
          <h2 class=" color mb-4">Oportunidades de mejora</h2>
          <mat-form-field appearance="outline">
            <mat-label>Habilidades blandas</mat-label>
            <input autocomplete="off" [formControl]="opme_habilidadBlanda" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Habilidades técnicas</mat-label>
            <input autocomplete="off" [formControl]="opme_habilidadTecnica" matInput>
          </mat-form-field>
        </div>
        <div class="col-lg-6 justify-content-center d-flex flex-column buttons-div margin-bottom">
          <button routerLink="/under-construction"
                  class="mb-4 btn Btn d-inline-block button" mat-raised-button>Acciones de mejora</button>
          <button routerLink="/under-construction"
                  class="mb-4 btn d-inline-block button" mat-raised-button>Seguimientos</button>
        </div>
      </div>
      <div class="d-flex justify-content-center mt-2 mb-2">
        <button routerLink="/seguimiento-banco" class="d-inline-block mx-4 btn" mat-raised-button>Regresar</button>
        <button type="submit" [disabled]="inSubmission || seguimientoBancoTalentoForm.invalid"
                class="btnG" mat-raised-button>Guardar
        </button>
      </div>
    </form>
  </div>
</div>
