.right {
  text-align: right;
  margin-right: 1rem;
}

.btnG {
  background-color: #C2382F;
  color: white;
}


.btn {
  background-color: white;
  color: black;
}

.d-inline-flex {
  gap: 10px;
}

ngb-rating {
  color: #C2382F;
  font-size: 33px;
  padding-left: 0
}

h1 {
  margin-top: 2rem;
}

.rating {
  text-align: left;
  margin: 0;
}

.star {
  text-align: left;
}

.liderTalento {
  display: none;
}

.test {
  flex-direction: column-reverse;
}

.margin-bottom {
  margin-bottom: 3rem;
}

@media (min-width: 1000px) {
  h1 {
    margin: 0 !important;
  }

  .margin-bottom {
    margin-bottom: 0;
  }

  .estrella {
    display: flex;
  }

  .Btn {
    margin-top: 4.5rem;
  }

  .star {
    text-align: center;
  }

  .liderTalento {
    display: flex;
    justify-content: space-between;
  }

  .talento {
    text-align: left;
    margin-left: 1rem;
  }

  .buttons-div {
    align-items: flex-end;
  }

  .button {
    width: 50%;
  }

  .test {
    flex-direction: row;
  }
}
