<app-base>
  <div class="h-100 d-flex justify-content-center align-items-center flex-column">
    <h1 class="mb-4 red text-center">Seguimiento Banco</h1>
    <div class="w-75 h-75">
      <div class="row h-100">
        <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column">
          <div class="mb-4">
            <img routerLink="/lider" class="img-fluid" src="assets/images/Líder.svg" alt="Líder"
                 width="102" height="115">
          </div>
          <h2 routerLink="/lider" class="red mb-3">Líder</h2>
          <p class="text-center mb-4">Se listarán los talentos asociados al líder seleccionado para el seguimiento</p>
        </div>
        <div class="col-lg-6 d-flex justify-content-center align-items-center flex-column">
          <div class="mb-4">
            <img class="img-fluid" src="assets/images/Talento.svg" alt="Talento" width="114" height="114">
          </div>
          <h2 class="red mb-3">Talento</h2>
          <p class="text-center">Se mostrará la pantalla de seguimiento con el talento seleccionado</p>
        </div>
      </div>
    </div>
  </div>
</app-base>
