
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-2">
  </div>
  <div class="row mt-md-5">
    <div class="col p-3 box-buttons">
      <div ngbDropdown class="d-inline-block" class="nav flex-column bg-white mb-0">
        <button routerLink="" type="button" class="btn-light btn-lg button-style" id="dropdownBasic1">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door"
               viewBox="0 0 16 16">
            <path
              d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
          </svg>
          Home
        </button>
      </div>
      <div class="row mt-md-4">
        <div class="col">
          <div ngbDropdown class="nav flex-column bg-white mb-0 d-inline-block button-style">
            <button type="button" class="btn-light btn-lg button-style" id="dropdownBasic1" ngbDropdownToggle>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                   class="bi bi-clipboard-check" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M10.854 7.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 9.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                <path
                  d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path
                  d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
              </svg>
              Seguimiento
            </button>
            <div class="button-style" ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button routerLink="seguimiento-banco" ngbDropdownItem>Banco</button>
              <button routerLink="construction" ngbDropdownItem>Talentos</button>
            </div>
          </div>

          <div class="row mt-md-4">
            <div class="col">
              <div ngbDropdown class="nav flex-column bg-white mb-0 d-inline-block button-style">
                <button type="button" class="btn-light btn-lg button-style" id="dropdownBasic1" ngbDropdownToggle>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                       class="bi bi-person-workspace" viewBox="0 0 16 16">
                    <path d="M4 16s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H4Zm4-5.95a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
                    <path
                      d="M2 1a2 2 0 0 0-2 2v9.5A1.5 1.5 0 0 0 1.5 14h.653a5.373 5.373 0 0 1 1.066-2H1V3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v9h-2.219c.554.654.89 1.373 1.066 2h.653a1.5 1.5 0 0 0 1.5-1.5V3a2 2 0 0 0-2-2H2Z"/>
                  </svg>
                  Administración
                </button>
                <div class="button-style" ngbDropdownMenu aria-labelledby="dropdownBasic1">
                  <button routerLink="construction" ngbDropdownItem>Líder Banco</button>
                  <button routerLink="construction" ngbDropdownItem>Líder SETI</button>
                </div>
              </div>
              <div class="row mt-md-4">
                <div class="col">
                  <div ngbDropdown class="nav flex-column bg-white mb-0 d-inline-block button-style">
                    <button routerLink="construction" type="button" class="btn-light btn-lg button-style" id="dropdownBasic1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                        <path
                          d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
                      </svg>
                      Reportes
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

