
#sidebar{
  width:20vmax ;
  height: 100vh;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.1);
}

.button-style{

  font-weight: bold;
  text-align: start;
  width: 100%;
  font-size: 1.45vw;
}
.box-buttons{
  margin-top: 1em ;

}


