
.vertical-nav {
  min-width: 11rem;
  width: 11rem;
  height: 72vh;
  top: 0;
  left: 0;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.1);
}

.button-style{

  font-family: 'Handel Gothic D', sans-serif;
  width: 100%;
}


