h1 {
  color: #C2382F;
}

.fechaA {
  color: #C2382F;
  margin-bottom: 0;
}

.lider {
  color: #C2382F;
}

.btnG {
  background-color: #C2382F;
  color: white;
}

.btnC {
  background-color: white;
  color: black;
}

.option {
  color: black;
}

.right {
  text-align: right;
  margin-right: 10px;
}
