<body>

    <app-header></app-header>

    <div>
        <div class="menu" >
            <app-menu></app-menu>
        </div>


        <div class="container texthome text-center" >
            <div class="content2">
                <div>
                    <h4><b><br>Bienvenidos a LíderApp.<br></b></h4>
                    <p>Desde acá podrá realizar la gestión del segimiento de los talentos asignados al</p>
                    <p>cliente <b><i>BANCOLOMBIA BANITSMO</i></b> y explorar distintas categorías.</p><br>
                </div><br><br>
                <div class="container celdas">
                    <div class="container text-center">
                        <a class=" align-items-center" href="#" >
                          <img
                            src="../../assets/images/image (6).png"
                            height="100"
                            width="100"
                            alt="MDB Logo"
                            loading="lazy"
                          />
                        </a><br><br>
                        <p>Seguimiento <br> Talentos</p>
                      </div>
                      <div class="container text-center">
                        <a class=" align-items-center" href="#" >
                          <img
                            src="../../assets/images/image (4).png"
                            height="100"
                            width="100"
                            alt="MDB Logo"
                            loading="lazy"
                          />
                        </a><br><br>
                        <p>Seguimiento <br> Banco</p>
                      </div>
                      <div class="container text-center">
                        <a class=" align-items-center" href="#" >
                          <img
                            src="../../assets/images/image (5).png"
                            height="100"
                            width="100"
                            alt="MDB Logo"
                            loading="lazy"
                          />
                        </a><br><br>
                        <p>Crear líder <br> Banco</p>
                      </div>
                </div>
            </div>

        </div>

    </div>

</body>


<app-footer></app-footer>
