.content:last-child {
  margin-bottom: 3rem;
}

.cursor {
  cursor: pointer;
}

@media(min-width: 990px) {
  p {
    font-size: 20px;
  }

  .direction {
    flex-direction: row !important;
  }

  .description {
    margin-bottom: 5rem !important;
    display: flex;
    justify-content: center;
  }

  .content {
    gap: 12rem !important;
  }

  .content:last-child {
    margin-bottom: 0;
  }
}

@media(min-width: 1200px) {
  p {
    width: 70%;
    font-size: 22px;
  }

  img {
    width: 125px;
    height: 125px;
  }

  .description {
    margin-bottom: 8rem !important;
  }
}

